#user-icon{
  width:130px;
  -webkit-clip-path:circle(60px at center);
  margin-bottom:-25px;
  border-width: 3px;
  border-color: white;
  display: inline-block;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.8);
}
#user-name{
  color: white;
  margin: 0;
  text-shadow: 1px 1px 3px #000;
}


#bottom-tabbar{
    border-top: solid 3px rgba(231, 76, 60, 1.0);
    padding-top: 0px;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
}
.table-ul {
    background-color: gray;
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    padding-left: 0px;
    margin-bottom: 0px;
}
.table-ul li {
    border-right: 1px solid #fff;
    display: table-cell;
    vertical-align: middle;
}
.table-ul li:last-child {
    border-right: 0;
}
.table-ul li a {
    display: block;
    font-size: 8px;
    text-decoration: none;
    padding: 10px 0;
    color: #fff;
}
.table-ul li a i{
    font-size: 20px;
}
#space-for-tabbar-background{
  bottom:0px;
  height:60px
}

.headline .header_more_info{
    font-size: 12px;
    float:right;
    padding-top: 10px;
}

.list-group-item-logolist{
    height:80px;
    position:relative;
}
.logolist-item-logo-img{
    position:absolute;
    left:5px;
    border: 0px;
    border-radius: 10px;
    max-height:60px;
    max-width:50%;
    top:0;
    bottom:0;
    margin:auto;
}
.logolist-item-logo-name{
    position:absolute;
    top:0px;
    right:10px;
}
.logolist-item-logo-point{
    position:absolute;
    bottom:5px;
    right:10px;
    font-size: 18px;
}
.logolist-item-logo-point-number{
    font-size: 38px;
}

@font-face{
font-family:'HuiFontP109';
src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot');
src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot?#iefix') format('embedded-opentype'),
url('https://dl.dropboxusercontent.com/s/7pscemjdvt0wyiq/HuiFontP109.woff') format('woff'),
url('https://dl.dropboxusercontent.com/s/0w9uuopxrns8ehi/HuiFontP109.ttf') format('truetype'),
url('https://dl.dropboxusercontent.com/s/xnnsbxtz8o6d98i/HuiFontP109.svg#HuiFontP109') format('svg');
}
body,input,textarea{font-family:'HuiFontP109';font-size:16px;}
