#bottom-tabbar{
    border-top: solid 3px rgba(231, 76, 60, 1.0);
    padding-top: 0px;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
}
.table-ul {
    background-color: gray;
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    padding-left: 0px;
    margin-bottom: 0px;
}
.table-ul li {
    border-right: 1px solid #fff;
    display: table-cell;
    vertical-align: middle;
}
.table-ul li:last-child {
    border-right: 0;
}
.table-ul li a {
    display: block;
    font-size: 8px;
    text-decoration: none;
    padding: 10px 0;
    color: #fff;
}
.table-ul li a i{
    font-size: 20px;
}

/* サンプルtableの共通設定
----------------------------------------------------------- */
table	{
	border-collapse: collapse;	border-spacing: 0;
	width: 100%;
	margin-bottom: 30px;
}
th, td	{
	padding: 10px 20px;
	color: #1D5C79;
}


/* サンプル2
----------------------------------------------------------- */
.showPoint th	{
	font-weight: bold;
	border-bottom: 2px solid #1D5C79;
}
.showPoint td	{
	font-weight: bold;
	border-bottom: 1px solid #DDD;
}



#space-for-tabbar-background{
  bottom:0px;
  height:60px
}
@font-face{
font-family:'HuiFontP109';
src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot');
src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot?#iefix') format('embedded-opentype'),
url('https://dl.dropboxusercontent.com/s/7pscemjdvt0wyiq/HuiFontP109.woff') format('woff'),
url('https://dl.dropboxusercontent.com/s/0w9uuopxrns8ehi/HuiFontP109.ttf') format('truetype'),
url('https://dl.dropboxusercontent.com/s/xnnsbxtz8o6d98i/HuiFontP109.svg#HuiFontP109') format('svg');
}
body,input,textarea{font-family:'HuiFontP109';font-size:16px;}
